<!DOCTYPE html>
<html>
<head>
    <title>Portfolio</title>
</head>
<body>
    <h1>Portfolio</h1>
    <p>Account Balance: ${{ balance }}</p>
    <table>
        <tr>
            <th>Symbol</th>
            <th>Quantity</th>
            <th>Current Price</th>
            <th>Value</th>
        </tr>
        {% for item in portfolio %}
        <tr>
            <td>{{ item['symbol'] }}</td>
            <td>{{ item['quantity'] }}</td>
            <td>{{ item['price'] }}</td>
            <td>{{ item['value'] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>