{% extends 'dashboard/dbskeleton.html' %} 
{% block content %}

    <main>
      <div class="container">
  
        <section class="section error-404 min-vh-100 d-flex flex-column align-items-center justify-content-center">
          <h1 style="color:#6351ce;">404</h1>
          <h2>The page you are looking for doesn't exist.</h2>
          <a class="btn" href="{{ url_for('home2') }}">Back to home</a>
        </section>
  
      </div>
    </main><!-- End #main -->
  
<svg id="SvgjsSvg1001" width="2" height="0" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.dev" style="overflow: hidden; top: -100%; left: -100%; position: absolute; opacity: 0;"><defs id="SvgjsDefs1002"></defs><polyline id="SvgjsPolyline1003" points="0,0"></polyline><path id="SvgjsPath1004" d="M0 0 "></path></svg></body></html>
{% endblock content %}
