{% extends "dashboard/dbskeleton.html" %}
{% block content %}


<main id="main" class="main">
  <div class="pagetitle">
    <h1>Market</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ url_for('home2') }}">Home</a></li>
        <li class="breadcrumb-item active">Market</li>
        <li style="display: none;" id="stock-symbol">MRF.NS</li>
      </ol>
    </nav>
  </div>
  <!-- End Page Title -->

  <section class="section dashboard">
    <div class="row">
      <!-- Left side columns -->
      <div class="col-lg-8">
        <div class="row">


          <!-- Reports -->
          <div class="col-12">
            <div class="card">
              <div class="filter">
                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                  <li class="dropdown-header text-start">
                    <h6>Filter</h6>
                  </li>

                  <li><a class="dropdown-item" href="#">Line Chart</a></li>
                  <li><a class="dropdown-item" href="#">Candle Stick Chart</a></li>
                  <li><a class="dropdown-item" href="#"></a></li>
                </ul>
              </div>
              <div class="card-body">
                <h5 class="card-title"> Nifty <span>/Today</span></h5>

                <!-- Line Chart -->
                <div id="reportsChart"></div>

              </div>
            </div>
          </div>
          <!-- End Reports -->



          <!-- Index Card -->
          <div class="col-xxl-4 col-xl-12">
            <div class="card info-card customers-card">

              <div class="card-body">
                <h5 class="card-title">
                  AUTO <span></span>
                </h5>

                <div class="d-flex align-items-center">

                  <div class="ps-3">
                    <h6>1224</h6>
                    <span class="text-danger small pt-1 fw-bold">3.2%</span>
                    <span class="text-muted small pt-2 ps-1">decrease</span>
                  </div>

                </div>
              </div>
            </div>
          </div>
          <!-- Index Card -->

          <!-- Index Card -->
          <div class="col-xxl-4 col-xl-12">
            <div class="card info-card customers-card">

              <div class="card-body">
                <h5 class="card-title">
                  Nifty 50 <span></span>
                </h5>

                <div class="d-flex align-items-center">

                  <div class="ps-3">
                    <h6>2144</h6>
                    <span class="text-success small pt-1 fw-bold">3.2%</span>
                    <span class="text-muted small pt-2 ps-1">Increase</span>
                  </div>

                </div>
              </div>
            </div>
          </div>
          <!-- Index Card -->

          <!-- Index Card -->
          <div class="col-xxl-4 col-xl-12">
            <div class="card info-card customers-card">

              <div class="card-body">
                <h5 class="card-title">
                  Nifty 500 <span></span>
                </h5>

                <div class="d-flex align-items-center">

                  <div class="ps-3">
                    <h6>5833</h6>
                    <span class="text-danger small pt-1 fw-bold">1.2%</span>
                    <span class="text-muted small pt-2 ps-1">decrease</span>
                  </div>

                </div>
              </div>
            </div>
          </div>
          <!-- Index Card -->

          <!-- top losers and gainers -->
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Info Table</h5>
          
              <!-- Info Table -->
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Company</th>
                    <th scope="col">Price</th>
                    <th scope="col">Change</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Reetech Inter. Cargo</td>
                    <td>62.71</td>
                    <td>+20%</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Everest Organics</td>
                    <td>136.60</td>
                    <td>+19.98%</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Black Box</td>
                    <td>177.75</td>
                    <td>+19.98%</td>
                  </tr>
                  <tr>
                    <th scope="row">4</th>
                    <td>CEAT</td>
                    <td>"2,485.30"</td>
                    <td>+18.72%</td>
                  </tr>
                  <tr>
                    <th scope="row">5</th>
                    <td>Manugraph India</td>
                    <td>20.40</td>
                    <td>+18.6%</td>
                  </tr>
                  <tr>
                    <th scope="row">6</th>
                    <td>Anlon Tech slolution</td>
                    <td>267.80</td>
                    <td>+17.71%</td>
                  </tr>
                  <tr>
                    <th scope="row">7</th>
                    <td>Genus Paper & Boards</td>
                    <td>17.40</td>
                    <td>+17.57%</td>
                  </tr>
                  <tr>
                    <th scope="row">8</th>
                    <td>Summit Securities</td>
                    <td>857.40</td>
                    <td>+16.53%</td>
                  </tr>
                  <tr>
                    <th scope="row">9</th>
                    <td>Bella Casa Fashion</td>
                    <td>171.60</td>
                    <td>+15.87%</td>
                  </tr>
                  <tr>
                    <th scope="row">10</th>
                    <td>Ravileela Granites</td>
                    <td>34.60</td>
                    <td>+15.33%</td>
                  </tr>
                  <tr>
                    <th scope="row">11</th>
                    <td>Zee Media Corpn.</td>
                    <td>9.40</td>
                    <td>+14.63%</td>
                  </tr>
                  <tr>
                    <th scope="row">12</th>
                    <td>Deccan Gold Mines</td>
                    <td>66.55</td>
                    <td>+14.45%</td>
                  </tr>
                  <tr>
                    <th scope="row">13</th>
                    <td>Alacrity Securities</td>
          <td>14</td>
                    <td>+14.19%</td>
                  </tr>
                  <tr>
                    <th scope="row">14</th>
                    <td>Waterbase</td>
                    <td>85.30</td>
                    <td>+14.11%</td>
                  </tr>
                  <tr>
                    <th scope="row">15</th>
                    <td>Innokaiz India</td>
                    <td>150</td>
                    <td>+13.72%</td>
                  </tr>
                </tbody>
              </table>
              <!-- End Info Table -->
          
            </div>
          </div>
          <!-- end top losers and gainers  -->


          <!-- 52 high low table -->
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"> 52 Week High Low</h5>

              <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Company</th>
                    <th scope="col">Low </th>
                    <th scope="col">High</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>CEAT</td>
                    <td>2,485.30</td>
                    <td>2,512.20</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Mahindra &amp; Mahindra</td>
                    <td>1,548.80</td>
                    <td>1,552.90</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Tata Motors</td>
                    <td>600.80</td>
                    <td>604.95</td>
                  </tr>
                  <tr>
                    <th scope="row">4</th>
                    <td>Olectra Greentech</td>
                    <td>1,044.40</td>
                    <td>1,077</td>
                  </tr>
                  <tr>
                    <th scope="row">5</th>
                    <td>Apollo Hospital Ent.</td>
                    <td>5,283.05</td>
                    <td>5,310</td>
                  </tr>
                  <tr>
                    <th scope="row">6</th>
                    <td>Hero MotoCorp</td>
                    <td>3,172.10</td>
                    <td>3,206.85</td>
                  </tr>
                  <tr>
                    <th scope="row">7</th>
                    <td>BHEL</td>
                    <td>93.10</td>
                    <td>95.30</td>
                  </tr>
                  <tr>
                    <th scope="row">8</th>
                    <td>Britannia Inds</td>
                    <td>5,173.55</td>
                    <td>5,270.35</td>
                  </tr>
                  <tr>
                    <th scope="row">9</th>
                    <td>Larsen &amp; Toubro</td>
                    <td>2,488.60</td>
                    <td>2,499.95</td>
                  </tr>
                  <tr>
                    <th scope="row">10</th>
                    <td>Bajaj Auto</td>
                    <td>4,917.70</td>
                    <td>4,938</td>
                  </tr>
                  <tr>
                    <th scope="row">11</th>
                    <td>HPCL</td>
                    <td>301.95</td>
                    <td>307</td>
                  </tr>
                  <tr>
                    <th scope="row">12</th>
                    <td>DLF</td>
                    <td>513.60</td>
                    <td>517.55</td>
                  </tr>
                  <tr>
                    <th scope="row">13</th>
                    <td>Hindustan Unilever</td>
                    <td>2,757.10</td>
                    <td>2,765</td>
                  </tr>
                  <tr>
                    <th scope="row">14</th>
                    <td>Bank Of Baroda</td>
                    <td>205.45</td>
                    <td>205.90</td>
                  </tr>
                  <tr>
                    <th scope="row">15</th>
                    <td>Power Grid Corp</td>
                    <td>262.70</td>
                    <td>263.60</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!-- END 52 high low table -->


        </div>
      </div>
      <!-- End Left side columns -->

      <!-- Right side columns -->
      <div class="col-lg-4">
        <!-- Assistant -->
        <div class="card">

          <div class="card-body">
            <h5 class="card-title">Assistant &nbsp; <i class="bi bi-robot"></i> </h5>
            <div class="chat">
              <div class="chat-content clearfix">
                <span class="friend last">
                  Hi, How Can I help you?
                  <span class="time">
                    7:30 PM
                  </span>
                </span>
                <span class="you first">
                  Which is the costliest share in the Indian share market?
                  <span class="time">
                    7:31 PM
                  </span>
                </span>
                <span class="friend last">
                  MRF is the costliest share in the Indian share market !
                  <span class="time">
                    7:31 PM
                  </span>
                </span>
                <br>
              </div>

              <div class="msg-box">
                <input type="text" class="ip-msg" placeholder="type something..">
                <span class="btn-group">
                  <i class="ri-send-plane-fill"></i>
                  <i class="bi bi-paperclip"></i>
                </span>
              </div>

            </div>
          </div>
        </div>
        <!-- End Assistant  -->



        <!-- Share holder distribution  -->
        <div class="card">

          <div class="card-body pb-0">
            <h5 class="card-title"> Your Portfolio distribution   <span></span></h5>

            <div id="trafficChart" style="min-height: 400px" class="echart"></div>

            <script>
              document.addEventListener("DOMContentLoaded", () => {
                echarts
                  .init(document.querySelector("#trafficChart"))
                  .setOption({
                    tooltip: {
                      trigger: "item",
                    },
                    legend: {
                      top: "5%",
                      left: "center",
                    },
                    series: [
                      {
                        name: "Access From",
                        type: "pie",
                        radius: ["40%", "70%"],
                        avoidLabelOverlap: false,
                        label: {
                          show: false,
                          position: "center",
                        },
                        emphasis: {
                          label: {
                            show: true,
                            fontSize: "18",
                            fontWeight: "bold",
                          },
                        },
                        labelLine: {
                          show: false,
                        },
                        data: [
                          {
                            value: 20,
                            name: "Auto",
                          },
                          {
                            value: 25,
                            name: "Tech",
                          },
                          {
                            value: 55,
                            name: "Health care",
                          }
                        ],
                      },
                    ],
                  });
              });
            </script>
          </div>
        </div>
        <!-- End Share holder distribution  -->
<!-- News & Updates Traffic -->
<div class="card">  
  <div class="card-body pb-0">
    <h5 class="card-title">
      News &amp; Updates <span>| Today</span>
    </h5>

    <div class="news">
      <div class="post-item clearfix">
        <img src="{{ url_for('static', filename='assets/img/news-1.jpg') }}" alt="" />
        <h4><a href="#">Indian Stock Market Update: Sensex crosses 60,000 mark</a></h4>
        <p>
          The Indian stock market witnessed a historic moment as the Sensex crossed the 60,000 mark for the first time. Experts predict further growth in the coming months.
        </p>
      </div>

      <div class="post-item clearfix">
        <img src="{{ url_for('static', filename='assets/img/news-2.jpg') }}" alt="" />
        <h4><a href="#">Top Stocks to Watch: Reliance Industries, Tata Motors, HDFC Bank</a></h4>
        <p>
          Here are the top stocks that investors should keep an eye on today. Reliance Industries, Tata Motors, and HDFC Bank are expected to show positive performance.
        </p>
      </div>

      <div class="post-item clearfix">
        <img src="{{ url_for('static', filename='assets/img/news-3.jpg') }}" alt="" />
        <h4>
          <a href="#">SEBI announces new regulations for stock market participants</a>
        </h4>
        <p>
          The Securities and Exchange Board of India (SEBI) has introduced new regulations to ensure transparency and protect investors in the stock market.
        </p>
      </div>

      <div class="post-item clearfix">
        <img src="{{ url_for('static', filename='assets/img/news-4.jpg') }}" alt="" />
        <h4><a href="#">RBI cuts repo rate, boosts market sentiment</a></h4>
        <p>
          The Reserve Bank of India (RBI) has announced a repo rate cut, which is expected to boost market sentiment and encourage investments in the stock market.
        </p>
      </div>

      <div class="post-item clearfix">
        <img src="{{ url_for('static', filename='assets/img/news-5.jpg') }}" alt="" />
        <h4>
          <a href="#">Stock Market Analysis: Nifty 50 shows bullish trend</a>
        </h4>
        <p>
          The Nifty 50 index has shown a bullish trend, indicating positive market sentiment and potential opportunities for investors in the Indian stock market.
        </p>
      </div>
    </div>
    <!-- End sidebar recent posts-->
  </div>
</div>
<!-- End News & Updates -->

      </div>
      <!-- End Right side columns -->
    </div>
  </section>
</main>
<!-- End #main -->




<script src="https://unpkg.com/lightweight-charts@4.0.1/dist/lightweight-charts.standalone.production.js"></script>
<script src="{{ url_for('static', filename='assets/js/chart.js') }}"></script>

{% endblock content %}